.notification-bell-container {
    position: relative;
    cursor: pointer;
    margin-right: 20px;
}

.notification-badge {
    position: absolute;
    top: -5px;
    right: -10px;
    font-size: 0.7rem;
    padding: 0.3em 0.5em;
}