.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #fbfdff;
  color: #333;
  text-align: center;
  padding: 20px;
  padding-top: 80px;
}

.home-page h1 {
  font-size: 2.5em;
  color: #ffffff;
  margin-bottom: 15px;
}

.home-page p {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.mission-statement {
  color: #ffffff; 
  font-size: 1.3em; 
}