:root {
  --header-height: 270px; 
}
.hero {
  position: relative;
}
html, body {
  margin: 0;
}

body {
  padding-top: 0 !important;
}

.hero .overlay {
  position: absolute;
   inset: 0;
  background: rgba(0,0,0,0.45);
  z-index: 0;
}

.hero > .container {
  position: relative;
  z-index: 1;
  color: #fff;
}

.hero h1 {
  margin-bottom: 1rem;
}

.hero p {
  margin-bottom: 0;
}